/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* justify-content: space-between; */
  background-color: #333;
  /* padding: 10px 20px; */
  padding: 0px 50px 0px 50px;
}

/* Logo */
.navbar-logo img {
  height: 40px;
}

/* Navbar links */
.navbar-links {
  list-style: none;
  display: flex;
  /* margin-top: 10px; */
}

.navbar-link {
  margin: 10px 0px -5px 50px;
}

.navbar-link a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar-link a:hover {
  background-color: #555;
}
