<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Landing Page</title>
</head>
<body>
  <app-navbar></app-navbar>
  <div class="container">
    <div class="column">
      <div class="logo">
        <img src="../../../assets/img/mosaic-logo.ico" alt="Logo">
      </div>
      <div class="tagline">
        Welcome to Mosaic!
      </div>
    </div>
    <div class="column">
      <app-login></app-login>
    </div>
  </div>
  <!-- <div>
    <app-navbar></app-navbar>
  </div> -->
</body>
</html>
