<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Landing Page</title>
</head>
<body>
  <div class="container">
    <div class="column">
      <div class="logo">
        <img src="../../../assets/img/mosaic-logo.ico" alt="Logo">
      </div>
      <div class="tagline">
        Welcome to Mosaic!
      </div>
      <!-- <i class="bi bi-eye"> aqui</i>
      <i class="bi bi-balloon-fill"></i> -->
    </div>
    <div class="column">
      <p>hola</p>
      <app-login></app-login>
    </div>
  </div>

</body>
</html>
